# Build files
bin/*
!bin/README.md

# QT Creator Autosaves
*.autosave

# QtCreatoro project files
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*

# QMake makefile

Makefile*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!.obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
